* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button__options {
  background-color: var(--white);
  border: 2px solid var(--orange);
  color: var(--orange);
  cursor: pointer;
  font-size: 1.063rem;
  font-weight: bold;
  margin-left: 3.125rem;
  padding: 1.25rem;
  text-transform: uppercase;
  transition: all .5s;
}

.container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.container > .options {
  height: 200px;
  display: flex;
  flex-direction: column;

}

.title__form {
  color: var(--orange);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.form__container{
  border: 4px solid var(--orange);
  font-family: var(--primary-font); 
  height: 25.7rem;
  padding: 1rem;
  width: 25rem;
  
}

.active {
  display: none;
}

.form__group {
  position: relative;
}

.label__form {
  position: absolute;
  
}

.form__control {
  border: none;
  border-bottom: 2px solid var(--orange);
  border-radius: 0;
  color: var(--orange);
  display: flex;
  padding: 0.5rem 0.75rem;
  width: 350px;
  outline: none;

}

::placeholder {
  color: var(--orange);
  font-family: var(--primary-font);
  font-size: 15x;
  
}

.form__control:focus {
  background-color: var(--orange-rgba);
}

.message {
  position: relative;
}
.form__group {
  color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.form__control--message {
  border: 2px solid var(--orange);
  height: 6.8rem;
  margin-top: 10px;
  outline: none;
  position: absolute;
  resize: none;
  top: 20px;
  width: 22.9rem;
  padding-left: 0.625rem;
  color: var(--orange);
  

}

.button__register {
  background-color: var(--orange);
  border-radius: 0.25rem;
  border: 2px solid var(--white);
  box-shadow: 0 0 0px 2.5px var(--orange);
  color: var(--white);
  font-size: 16px;
  height: 2rem;
  margin-left: 3px;
  margin-top: 11rem;
  transform: all 0.5s;
  transition: 0.2s;
  width: 5rem;
}

.button__register:hover {
  background-color: var(--white);
  color: var(--orange);
}
